    #opening-title{
    background-color: lightblue;
    display: flex;
    align-items: center; 
    justify-content: space-between;  
    }

    ul{
        display: flex;
        /* flex-direction: column; */
    } 

    nav a{
        margin:5px;
    }   
    body {
        margin: 100;
        font-family: Arial, sans-serif;
    }
    
    .header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
    }
    
    header nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 20;
    }
    
    header nav ul li {
        margin-left: 120px;
    }
    
    header nav ul li:first-child {
        margin-left: 120;
    }
    
    header nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
    }
     #opening-subtitle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: blue;
        padding: 20px;            text-align: center;
        margin: 0;
        }
      
    
    
    
    section {
        padding: 50px;
        
    }
    
    section h1 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    
    
    
    section h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    section p {
        line-height: 1.5;
    }
    
    .about-img{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    section img {
        max-width: 600px;
        height: 400px;
    }
  

    .row{
        display: flex;
        flex-direction: row;
    }

    .box{
        border: 2px solid black;
    }

    .box-size{
        height: 300px; 
        width: 300px; 
        padding: 20px;
    }

    * {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 600px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 300px;
  height: 300px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}